<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Router:etc/routes.xsd">
    <router id="admin">
        <route id="passwordsecurity" frontName="passwordsecurity">
            <module name="Mage42_PasswordSecurity" />
        </route>
    </router>
</config>
